<!-- County Information Column -->
<div class="col-md-3 no-pad-r right-pane">
  <div class="list-group no-margin-b right-content">
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Orange County, CA</h4>
      <p class="list-group-item-text">Toggle Results
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </p>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle margin-top btn-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Health Effects <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Facilities</a></li>
          <li><a href="#">Chemicals</a></li>
        </ul>
      </div>
    </div>
    <div class="list-group-item">
      <span class="xs-margin-right"><input type="radio" value="all-health-facilities" checked></span>All Health Effects
    </div>
    <div href="#" class="list-group-item pad-bottom" ng-repeat="effect in keys(data.healthEffects) track by $index">
      <span class="xs-margin-right"><input type="radio" value="all-health-facilities"></span>{{ effect | startCase }}
<!--       <div class="pad-icons">
        <div class="col-md-3"><img src="../../../assets/epa-icons/Icon_Air.png" alt="Air"></div>
        <div class="col-md-3"><img src="../../../assets/epa-icons/Icon_Ground.png" alt="Ground"></div>
        <div class="col-md-3"><img src="../../../assets/epa-icons/Icon_Underground.png" alt="Underground"></div>
        <div class="col-md-3"><img src="../../../assets/epa-icons/Icon_Water.png" alt="Water"></div>
      </div>
-->     <p class="well well-box darkgray">Associated Chemicals: <span class="text-blue">{{ data.healthEffects[effect].chemicals.length }}</span>
        <span class="btn-r">
          <a data-toggle="collapse" data-target="#collapseChemicals-{{$index}}" aria-expanded="false" aria-controls="collapseChemicals">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          <div class="collapse" id="collapseChemicals-{{$index}}">
            <div class="well pad-10">
              <p class="text-sm">
                <span ng-repeat="chemical in data.healthEffects[effect].chemicals | orderBy:chemical track by $index">{{ chemical }}<br></span>
              </p>
            </div>
          </div>
        </span>
      </p>
      <p class="well well-box darkgray">Associated Facilities: <span class="text-blue">{{ data.healthEffects[effect].facilities.length }}</span>
        <span class="btn-r">
          <a data-toggle="collapse" data-target="#collapseFacilities-{{$index}}" aria-expanded="false" aria-controls="collapseFacilities">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          <div class="collapse" id="collapseFacilities-{{$index}}">
            <div class="well pad-10">
              <p class="text-sm">
                <span ng-repeat="facility in data.healthEffects[effect].facilities | orderBy:'facility_name'">{{ facility.facility_name }} <br></span>
              </p>
            </div>
          </div>
        </span>
      </p>
    </div>
  </div>
</div> <!-- /column