<!-- County Information Column -->
<div class="col-md-3 no-pad-r right-pane">
  <div class="list-group no-margin-b right-content">
    <div class="list-group-item">
      <p class="list-group-item-text">Toggle Results
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </p>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle margin-top btn-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ selectedResult }} <span class="caret caret-details"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="toggleSelectedResult(otherResults[0])">{{ otherResults[0] }}</a></li>
          <li><a href="#" ng-click="toggleSelectedResult(otherResults[1])">{{ otherResults[1] }}</a></li>
        </ul>
      </div>
    </div>

    <div ng-switch="selectedResult">

      <div ng-switch-when="Health Effects">
        <div class="list-group-item" ng-show="selectedResult === 'Health Effects'">
          <span class="xs-margin-right"><input type="radio" name="filterGroup" value="all" checked></span>All Health Effects
        </div>
        <div href="#" class="list-group-item pad-bottom" ng-repeat="effect in keys(data.healthEffects) | orderBy: effect track by $index">
          <span class="xs-margin-right"><input type="radio" name="filterGroup" value="{{ effect }}" ng-click="applyFilter('health', effect)"></span>{{ effect | startCase }}
          <p class="well well-box lightgray">Associated Chemicals: <span class="text-blue">{{ keys(data.healthEffects[effect].chemicals).length }}</span>
            <span class="btn-r">
              <a data-toggle="collapse" data-target="#collapseChemicals-{{$index}}" aria-expanded="false" aria-controls="collapseChemicals">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              <div class="collapse" id="collapseChemicals-{{$index}}">
                <div class="well pad-10">
                  <p class="text-sm">
                    <span ng-repeat="chemical in keys(data.healthEffects[effect].chemicals) | orderBy: chemical">{{ chemical | startCase }} ({{ data.healthEffects[effect].chemicals[chemical] }})<br></span>
                  </p>
                </div>
              </div>
            </span>
          </p>
          <p class="well well-box lightgray">Associated Facilities: <span class="text-blue">{{ data.healthEffects[effect].facilities.length }}</span>
            <span class="btn-r">
              <a data-toggle="collapse" data-target="#collapseFacilities-{{$index}}" aria-expanded="false" aria-controls="collapseFacilities">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              <div class="collapse" id="collapseFacilities-{{$index}}">
                <div class="well pad-10">
                  <p class="text-sm">
                    <span ng-repeat="facility in data.healthEffects[effect].facilities | orderBy:'facility_name'">{{ facility.facility_name | startCase }} <br></span>
                  </p>
                </div>
              </div>
            </span>
          </p>
        </div>
      </div>

      <div ng-switch-when="Facilities">
        <div href="#" class="list-group-item pad-bottom" ng-repeat="name in data.facilities.names | orderBy: name track by $index">
          <span class="xs-margin-right"><input type="radio" name="filterGroup" value="{{ name }}" ng-click="applyFilter('facilities', name)"></span>{{ name | startCase }}
          <div class="pad-icons">
            <div class="col-md-3">
              <img ng-if="hasAirEmissions(name)" src="../../../assets/epa-icons/Icon_Air.png" alt="Air">
              <img ng-if="!hasAirEmissions(name)"src="../../../assets/epa-icons/Icon_Air_off.png" alt="Air">
            </div>
            <div class="col-md-3">
              <img ng-if="hasGroundEmissions(name)" src="../../../assets/epa-icons/Icon_Ground.png" alt="Ground">
              <img ng-if="!hasGroundEmissions(name)" src="../../../assets/epa-icons/Icon_Ground_off.png" alt="Ground">
            </div>
            <div class="col-md-3">
              <img ng-if="hasUndergroundEmissions(name)" src="../../../assets/epa-icons/Icon_Underground.png" alt="Underground">
              <img ng-if="!hasUndergroundEmissions(name)" src="../../../assets/epa-icons/Icon_Underground_off.png" alt="Underground">
            </div>
            <div class="col-md-3">
              <img ng-if="hasWaterEmissions(name)" src="../../../assets/epa-icons/Icon_Water.png" alt="Water">
              <img ng-if="!hasWaterEmissions(name)" src="../../../assets/epa-icons/Icon_Water_off.png" alt="Water">
            </div>
          </div>
            <p class="well well-box darkgray">Associated Chemicals: <span class="text-blue">{{ data.facilities.properties[name].chemicals.length }}</span>
            <span class="btn-r">
              <a data-toggle="collapse" data-target="#collapseChemicals-{{$index}}" aria-expanded="false" aria-controls="collapseChemicals">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              <div class="collapse" id="collapseChemicals-{{$index}}">
                <div class="well pad-10">
                  <p class="text-sm">
                    <span ng-repeat="chemical in data.facilities.properties[name].chemicals | orderBy: chemical track by $index">{{ chemical | startCase }}<br></span>
                  </p>
                </div>
              </div>
            </span>
          </p>
          <p class="well well-box lightgray">Associated Health Effects: <span class="text-blue">{{ data.facilities.properties[name].healthEffects.length }}</span>
            <span class="btn-r">
              <a data-toggle="collapse" data-target="#collapseFacilities-{{$index}}" aria-expanded="false" aria-controls="collapseFacilities">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              <div class="collapse" id="collapseFacilities-{{$index}}">
                <div class="well pad-10">
                  <p class="text-sm">
                    <span ng-repeat="effect in data.facilities.properties[name].healthEffects | orderBy:'effect' track by $index">{{ effect | startCase }} <br></span>
                  </p>
                </div>
              </div>
            </span>
          </p>
        </div>
      </div>

      <div ng-switch-when="Chemicals">
        <div href="#" class="list-group-item pad-bottom" ng-repeat="name in keys(data.chemicals) | orderBy: name track by $index">
          <span class="xs-margin-right"><input type="radio" name="filterGroup" value="{{ name }}"></span>{{ name | startCase }}
          <p class="well well-box darkgray">Associated Facilities: <span class="text-blue">{{ data.chemicals[name].facilities.length }}</span>
            <span class="btn-r">
              <a data-toggle="collapse" data-target="#collapseChemicals-{{$index}}" aria-expanded="false" aria-controls="collapseChemicals">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              <div class="collapse" id="collapseChemicals-{{$index}}">
                <div class="well pad-10">
                  <p class="text-sm">
                    <span ng-repeat="facility in data.chemicals[name].facilities | orderBy: 'facility_name' track by $index">{{ facility.facility_name | startCase }}<br></span>
                  </p>
                </div>
              </div>
            </span>
          </p>
          <p class="well well-box darkgray">Associated Health Effects: <span class="text-blue">{{ data.chemicals[name].healthEffects.length }}</span>
            <span class="btn-r">
              <a data-toggle="collapse" data-target="#collapseFacilities-{{$index}}" aria-expanded="false" aria-controls="collapseFacilities">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              <div class="collapse" id="collapseFacilities-{{$index}}">
                <div class="well pad-10">
                  <p class="text-sm">
                    <span ng-repeat="effect in data.chemicals[name].healthEffects | orderBy:'effect' track by $index">{{ effect | startCase }} <br></span>
                  </p>
                </div>
              </div>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /column
