/* GLOBAL STYLES
-------------------------------------------------- */

#map {
  height: 650px;
}

/* JUMBOTRON */
/*-------------------------------------------------- */

.jumbotron {
  margin-bottom: 30px;
  background-image: url(../images/bg.png);
  background-position: 0% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.jumbotron .container {
  max-width: 800px !important;
}
.jumbotron-text {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 200;
}
.jumbotron-btn-text {
  font-weight: 800;
  font-size: 14px;
}

/* FORMS, INPUTS, & LABELS */
/*-------------------------------------------------- */

.form-control {
  width: 90% !important;
}
.sm-label {
  font-size: 10px;
}

/* NAVBAR */
/*-------------------------------------------------- */

.navbar {
  margin-bottom: 10px;
  margin-top: 10px;
}
.nav-right-padding {
  padding-right: 25px;
}
.nav-inner-padding {
  padding-right: 35px;
}
.navbar-brand {
  width: 200px;
  height: 46px;
  padding: 0px;
  vertical-align: middle;
  margin-left: 5px !important;
}

/* MARGINS & PADDINGS */
/*-------------------------------------------------- */

.title-margin {
  margin-top: 50px;
  margin-bottom: 20px;
}
.sm-margin-left {
  margin-left: 10px;
}
.xs-margin-right {
  margin-right: 10px
}
.margin-right {
  margin-right: 20px;
}
.margin-top {
  margin-top: 15px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.lg-margin-bottom {
  margin-bottom: 20px;
}
.pad-bottom {
  padding-bottom: 15px;
}
.pad-bottom-lg {
  padding-bottom: 50px;
}
.no-margin {
  margin: 0px !important;
}
.well {
  margin-top: 10px;
}
.no-pad-l {
  padding-left: 0px;
}
.no-pad-r {
  padding-right: 0px;
}
.no-margin-b {
  margin-bottom: 0px;
}
.pad-l {
  padding-left: -10px;
}
.pad-10 {
  padding: 10px;
}
.full-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.pad-icons {
  padding: 10px 0 20px 10px;
}

/* BUTTONS */
/*-------------------------------------------------- */

.btn-r {
  float: right;
}
.btn-black {
  background-color: black;
  color: white;
}
.btn-white {
  background-color: white;
  color: #0071bc;
}
.btn-blue {
  background-color: #0071bc;
  color: white;
  border-radius: 0px;
}
.btn-oval {
  padding: 4px 26px !important;
  border-radius: 20px !important;
}
.btn-maptype {
  padding-right: 140px !important;
  margin: 5px 0px 12px -15px !important;
  border-radius: 0px !important;
}
.btn-drop {
  padding-right: 120px;
}
.btn-year {
  margin: 5px 0px 12px !important;
  border-radius: 0px !important;
}
.caret-maptype {
  position: absolute;
  left: 90%;
  top: 45%;
}
.caret-year {
  margin-left: 15px !important;
}

/* TEXT */
/*-------------------------------------------------- */

.text-bold {
  font-weight: 800;
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-blue {
  color: #0071bc;
}
.icon-margin {
  margin: 0 10px 0 0;
}
.font-200 {
  font-weight: 200;
}
.dropdown-text {
  margin-top: 12px;
}

/* WELLS */
/*-------------------------------------------------- */

.well-box {
  font-size: 14px;
  border-radius: 0px;
  padding: 5px 10px;
  margin-bottom: 0px;
}

/* COLORS */
/*-------------------------------------------------- */

.darkgray {
  background-color: darkgray;
}

/* RIGHT INFORMATION COLUMN */
/*-------------------------------------------------- */

.right-pane {
  height: 600px;
}
.right-content {
  height: 600px;
  overflow: scroll;
  border: 1px solid darkgray;
}

/* "HOW IT WORKS" MODAL */
/*-------------------------------------------------- */

.modal-content {
  background-color: white;
}
.modal-title,
.modal-header,
.modal-body {
  background-color: white;
  color: #205493;
}
.modal-header {
  background-color: white;
  color: #205493;
}

/* "HOW IT WORKS" MODAL */
/*-------------------------------------------------- */

.footer {
  background-color: #323a45;
  color: #ffffff;
  width: 102%;
  overflow: hidden;
  margin-top: 15px;
  padding: 20px 10px;
}
.footer h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0 0;
}
.treeview-logo {
  width: 70px;
}
