/* GLOBAL STYLES
-------------------------------------------------- */

#map {
  height: 650px;
}

.dropdown-menu {
  z-index: 800;
}

/* JUMBOTRON */
/*-------------------------------------------------- */

.jumbotron {
  margin-bottom: 30px;
  background-image: url(../images/bg.png);
  background-position: 0% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.jumbotron .container {
  max-width: 800px !important;
}
.jumbotron-text {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 200;
}
.jumbotron-btn-text {
  font-weight: 800;
  font-size: 14px;
}

/* FORMS, INPUTS, & LABELS */
/*-------------------------------------------------- */

.form-control {
  width: 90% !important;
}
.sm-label {
  font-size: 10px;
}

/* NAVBAR */
/*-------------------------------------------------- */

.navbar {
  margin-bottom: 10px;
  margin-top: 10px;
}
.nav-right-padding {
  padding-right: 25px;
}
.nav-inner-padding {
  padding-right: 35px;
}
.navbar-brand {
  width: 200px;
  height: 46px;
  padding: 0px;
  vertical-align: middle;
  margin-left: 5px !important;
}

/* MARGINS & PADDINGS */
/*-------------------------------------------------- */

.title-margin {
  margin-top: 50px;
  margin-bottom: 20px;
}
.sm-margin-left {
  margin-left: 10px;
}
.xs-margin-right {
  margin-right: 10px
}
.margin-right {
  margin-right: 20px;
}
.margin-top {
  margin-top: 15px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.pad-bottom {
  padding-bottom: 15px;
}
.pad-bottom-lg {
  padding-bottom: 50px;
}
.no-margin {
  margin: 0px !important;
}
.well {
  margin-top: 10px;
}
.no-pad-l {
  padding-left: 0px;
}
.no-pad-r {
  padding-right: 0px;
}
.no-margin-b {
  margin-bottom: 0px;
}
.pad-l {
  padding-left: -10px;
}
.pad-10 {
  padding: 10px;
}
.full-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pad-icons {
  padding: 10px 0 20px 10px;
}

/* BUTTONS */
/*-------------------------------------------------- */

.btn-r {
  float: right;
}
.btn-black {
  background-color: black;
  color: white;
}
.btn-white {
  background-color: white;
  color: #0071bc;
}
.btn-blue {
  background-color: #0071bc;
  color: white;
  border-radius: 0px;
}
.btn-oval {
  padding: 4px 26px !important;
  border-radius: 20px !important;
}
.btn-maptype {
  padding-right: 140px !important;
  margin: 5px 0px 12px !important;
  margin-left: -15px !important;
  border-radius: 0px !important;
}
.btn-drop {
  padding-right: 120px;
}
.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

/* TEXT */
/*-------------------------------------------------- */

.text-bold {
  font-weight: 800;
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-blue {
  color: #0071bc;
}
.icon-margin {
  margin: 0 10px 0 0;
}

/* WELLS */
/*-------------------------------------------------- */

.well-box {
  font-size: 14px;
  border-radius: 0px;
  padding: 5px 10px;
  margin-bottom: 0px;
}

/* COLORS */
/*-------------------------------------------------- */

.darkgray {
  background-color: darkgray;
}

/* RIGHT INFORMATION COLUMN */
/*-------------------------------------------------- */

.right-pane {
  height: 600px;
}
.right-content {
  height: 600px;
  overflow: scroll;
}
