<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container text-center">
    <h2 class="title-margin">How it Works</h2>
    <div class="jumbotron-text">TREEVIEW helps you discover where chemical releases are coming from in your local community by using the latest information from the EPA’s Toxics Release Inventory and Superfund Program.</div>
    <p>
      <button type="button" class="btn btn-white jumbotron-btn-text btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        How it Works
      </button>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-left">How it Works</h4>
            </div>
            <div class="modal-body col-md-12">
              <div class="col-md-4 modal-column">
                <div class="text-center">
                  <img src="../../../assets/epa-icons/Icon_Stp1.png" alt="Step1">
                  <h2 class="lg-margin-bottom modal-column-title">Step One</h2>
                  <h4 class="font-200 med-line-height">Enter a zip code or county to see chemical releases in that area.</h4>
                </div>
              </div>
              <div class="col-md-4 modal-column">
                <div class="text-center">
                  <img src="../../../assets/epa-icons/Icon_Stp2.png" alt="Step2">
                  <h2 class="lg-margin-bottom modal-column-title">Step Two</h2>
                  <h4 class="font-200 med-line-height">Filter your results by toggling between chemical types, health effects, and facilities in the sidebar.</h4>
                </div>
              </div>
              <div class="col-md-4 modal-column">
                <div class="text-center">
                  <img src="../../../assets/epa-icons/Icon_Stp3.png" alt="Step3">
                  <h2 class="lg-margin-bottom modal-column-title">Step Three</h2>
                  <h4 class="font-200 med-line-height">Share your findings by clicking the share button!</h4>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <h5 class="font-200 med-line-height margin-sides">TREE View helps you discover where chemical releases are coming from in your local community by using the latest information from the EPA’s Toxics Release Inventory and Superfund Program.</h5>
                <br>
                <h5 class="font-200 med-line-height margin-sides lg-margin-bottom">This tool is designed to let you filter this information by chemical type, related health effects, which facility these chemicals are coming from, and many other filtering options to optimize your results.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p>
  </div>
</div> <!-- /jumbotron -->

<div class="container-fluid">
  <!-- Search by Zip Code or County -->
  <div class="form-group">
    <label for="searchInput">Search the Counties with the Most Chemical Exposure</label>
    <input type="text" class="col-md-9 form-control" id="searchInput" placeholder="Enter Zip Code or County" ng-model="searchValue">
    <button class="btn btn-blue col-md-1 btn-r" href="#" role="button" ng-click="searchSubmit(searchValue)">Search</button>
  </div>

  <!-- Recent Searches -->
  <div class="well well-lg col-md-12">
    <p class="col-md-12">Search Counties with the Most Chemical Exposure</p>
    <div class="col-md-12">
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Madera')">Madera, CA</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Kern')">Kern, CA</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Tulare')">Tulare, CA</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Merced')">Merced, CA</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Santa Clara')">Santa Clara, CA</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Salt Lake')">Salt Lake, UT</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Cache')">Cache, UT</button>
      <button class="btn btn-oval btn-navy sm-margin-left" href="#" role="button" ng-click="searchSubmit('Fairbanks North Star Borough')">Fairbanks North Star Borough, AK</button>
    </div>
  </div>


  <!-- Map toggle titles-->
  <div class="pad-bottom">
    <div class="col-md-2 no-pad-l margin-bottom">Map Type   <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="col-md-3 margin-bottom">Time Range   <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="col-md-3 margin-bottom">County Onsite Release Types   <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="col-md-3 margin-bottom">Share My Map   <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
  </div>

  <!-- Map toggle and Year Dropdowns-->
  <div>
    <div class="col-md-2 btn-group">
      <button type="button" class="btn btn-default dropdown-toggle btn-maptype" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Counties <span class="caret caret-maptype"></span>
      </button>
      <ul class="dropdown-menu dropdown-maptype">
        <li><a href="#">Street View</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <div class="col-md-5 no-pad-l no-pad-r">
        <select class="form-control btn-year" id="start-year">
          <option>2012</option>
          <option>2013</option>
          <option selected>2014</option>
        </select>
      </div>

      <span class="col-md-1 dropdown-text no-pad-l">to</span>

      <div class="col-md-5 no-pad-l no-pad-r">
        <select class="form-control btn-year" id="end-year">
          <option>2012</option>
          <option>2013</option>
          <option selected>2014</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="btn-group" data-toggle="buttons" id="emission">
        <label id="emission-total" class="btn btn-primary active">
          <input type="checkbox" autocomplete="off" checked> Total
        </label>
        <label id="emission-land" class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> Land
        </label>
        <label id="emission-air" class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> Air
        </label>
        <label id="emission-water" class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> Water
        </label>
      </div>
    </div>

    <div class="col-md-2">
      <i class="fa fa-2x fa-link icon-margin"></i>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}">
        <i class="fa fa-2x fa-facebook-official icon-margin"></i>
      </a>
      <a class="twitter-share-button"
        href="https://twitter.com/intent/tweet?url={{ shareUrl }}">
        <i class="fa fa-2x fa-twitter icon-margin"></i>
      </a>

    </div>
    <div>
      <button class="btn btn-blue col-md-1 btn-r" href="#" ng-click="submitMapFilters()" role="button">Refresh Map</button>
    </div>
  </div>

  <!-- Map -->
  <map></map>

  <map-details></map-details>
</div> <!-- /container-fluid -->
